$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Karla|Permanent+Marker&display=swap');

$primary: #1e88a6;

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.body-container {
  width: 100%;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
    // for ios..
    //noinspection CssInvalidPropertyValue
    // height: -webkit-fill-available;
    padding: 2vh;
  }

  .min-100 {
    height: auto;
    min-height: 96vh;
    //noinspection CssInvalidPropertyValue
    //min-height: -webkit-fill-available;
    padding: 2vh;
  }

  .max-100 {
    max-height: 100%;
    max-width: 100%;
    min-width: 1px;
    min-height: 1px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .big-bold {
    font-size: 4vmin;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    font-family: 'Permanent Marker', sans-serif;
  }

  .color-inverted {
    background-image: url("../images/blue.svg");
    background-size: cover;
    color: white;
  }

  .color {
    background-image: url("../images/gray.svg");
    background-size: cover;
  }

  .hidden {
    display: none;
  }

  #countdown-timer {
    color: #1b85b4;

    span {
      color: black;
    }

    br {
      display: none;
    }

    @media screen and (orientation: portrait) {
      br {
        display: inherit;
      }
    }
  }

  #impressions {
    padding: 0;

    .slide {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }
  }

  #footer {
    height: 10vh;
  }

  .import-fix {
    /* webpack will miss the main svg otherwise */
    background: url('../images/winterweek20.svg');
  }

  .small-grid {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 1rem;
      color: black;
      width: auto;
      margin: 0 auto;
      list-style-type: none;
      padding: 0;
      vertical-align: middle;

      @media screen and (min-width: 1020px) {
        max-width: 1000px;
      }

      h1,
      h2 {
        text-align: center;
      }

      .item {
        padding: 2rem;
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        i.main-icon {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          line-height: 2rem;
          vertical-align: middle;
          color: white;
          background: $primary;
          padding: 1rem;
          margin-bottom: 1.5rem;
        }

        i.fa-check {
          color: greenyellow;
        }
      }

      .item:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
  }

  .two-sides {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 0;
    padding: 0;

    div {
      display: flex;
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      flex-direction: column;
    }
  }

  #accommodation {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://s-ec.bstatic.com/images/hotel/max1024x768/678/67844875.jpg");
    background-size: cover;
  }

  #resort {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://disentis-sedrun.graubuenden.ch/sites/disentis_sedrun/files/styles/grf_global_l/public/menu_images/dorf-sedrun-winterlandschaften.jpg?itok=RG2aYvdK");
    background-size: cover;
  }
}
