$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Karla|Permanent+Marker&display=swap');

$primary: #1e88a6;
$icu-green: #21b24b;
$faps-red: #7537bf;
$orange: #ffa424;

$red: #ff4136;
$green: #2ecc40;

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Karla', sans-serif;
  //scroll-snap-type: y proximity;
}

.language-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  color: $primary;
  border: $primary 1px solid;
}

.language-switch:hover {
  color: white;
  background: $primary;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.body-container {
  width: 100%;

  .icu-green {
    background: $icu-green;
  }

  .faps-red {
    background: $faps-red;
  }

  .non-student-orange {
    background: $orange;
  }

  .page {
    //scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
    // for ios..
    //noinspection CssInvalidPropertyValue
    // height: -webkit-fill-available;
    padding: 2vh;
  }

  .min-100 {
    height: auto;
    min-height: 96vh;
    //noinspection CssInvalidPropertyValue
    //min-height: -webkit-fill-available;
    padding: 2vh;
  }

  .max-100 {
    max-height: 100%;
    max-width: 100%;
    min-width: 1px;
    min-height: 1px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .big-bold {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    font-family: 'Permanent Marker', sans-serif;
  }

  .color-inverted {
    background-image: url("../images/blue.svg");
    background-size: cover;
    color: white;
  }

  .color {
    background-image: url("../images/gray.svg");
    background-size: cover;
  }

  .hidden {
    display: none;
  }

  #countdown-timer {
    color: #1b85b4;

    span {
      color: black;
    }

    br {
      display: none;
    }

    @media screen and (orientation: portrait) {
      br {
        display: inherit;
      }
    }
  }

  .import-fix {
    /* webpack will miss the main svg otherwise */
    background: url('../images/winterweek20.svg');
  }

  .small-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    color: black;
    width: auto;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    vertical-align: middle;

    @media screen and (min-width: 1020px) {
      max-width: 1000px;
    }

    h1,
    h2 {
      text-align: center;
    }

    .item {
      padding: 2rem;

      i.main-icon {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        line-height: 2rem;
        vertical-align: middle;
        color: white;
        background: $primary;
        padding: 1rem;
        margin-bottom: 1.5rem;
      }

      i.fa-check {
        color: $green;
      }
    }
  }

  .card,
  .inactive-card {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .prices {
    .price {
      text-align: center;

      .price-header {
        color: white;
        margin: 0;
        padding: 1rem;
      }

      h1 {
        text-align: center;
        margin: 0 1rem;
        padding: 1rem;
      }

      h1 + h1 {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: 0;
      }

      i.fa-times {
        color: $red;
      }
    }
  }

  .included-list {
    text-align: center;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 2rem;
      width: auto;
      margin: 1rem auto;

      @media screen and (min-width: 1020px) {
        max-width: 1000px;
      }

      li {
        text-align: left;
        list-style: none;
        margin-left: 1rem;

        i.fa-times {
          color: $red;
        }

        i.fa-check {
          color: $green;
        }

        i.fa-dot-circle {
          color: $orange;
        }
      }
    }
  }

  .two-sides {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0;
    padding: 0;

    div {
      display: flex;
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      flex-direction: column;
    }
  }

  #impressions {
    padding: 0;
    height: auto;

    .slide {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      display: none;
      overflow: hidden;
    }
  }

  #accommodation {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://s-ec.bstatic.com/images/hotel/max1024x768/678/67844875.jpg");
    background-size: cover;
  }

  #resort {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://disentis-sedrun.graubuenden.ch/sites/disentis_sedrun/files/styles/grf_global_l/public/menu_images/dorf-sedrun-winterlandschaften.jpg?itok=RG2aYvdK");
    background-size: cover;
  }

  .short {
    h1 {
      margin: 0;
    }

    border-top: $primary 3px solid;
    min-height: 3rem;
    max-height: 5rem;
  }
}
