@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.body-container {
  width: 100%;

  .page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 96vh;
    padding: 2vh;
  }

  .main-svg {
    max-height: 100%;
    max-width: 100%;
  }

  .big-bold {
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
  }

  .color-inverted {
    background: #1b85b4;
    color: white;
  }

  .hidden {
    display: none;
  }

  #countdown-timer {
    color: #d3daee;

    span {
      color: black;
    }

    br {
      display: none;
    }

    @media screen and (orientation: portrait) {
      br {
        display: inherit;
      }
    }
  }

  #impressions {
    padding: 0;

    .slide {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
    }
  }

  #footer {
    height: 10vh;
  }
}
